#filter-box-section {
  justify-content: center;
  display: flex;
  padding: 20px 0;
  margin: 0;
  
}
  

#FilterBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  background-color: #e0f7ff77;
  background-color: #fff;
  height: 260px;
  border-radius: 15px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2d2e32;
  @media (max-width: 500px) {
    height: 350px;
  }
  h2 {
    text-align: center;
    padding-left: 0px;
    padding: 0;
  }
}


#FilterBox-inputs {
  padding-bottom: 5px;
  justify-content: center;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  padding: 10px;
  
  @media (max-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }
  div {
    margin: 2px;
  }
  justify-content: space-evenly;
  p {
    font-family: poppins;
    font-weight: 600;
    font-size: 15px;
    margin: 10px 0;
  }
  button {
    
    margin: 10px;
    background-color: #1f466b;
    border: none;
    color: #1f466b;
    border-radius: 7px;
    color: #fff7ee;
    width: 20vw;
    height: 40px;
    font-weight: 900;
  }
  button:hover {
    border: 1.5px solid #2d2e32;
    background-color: #80d1e5;
    background-color: #fff7ee;
    color: #14293d;
  }
}

.input-box {
  border-radius: 15px;
}
#search-button {
  padding-top: 30px;
}

#rent-a-car-divider {
  display: block;
  height: 1px;
  width: 200px;
  border: 0;
  border-top: 1px solid #2d2e32;
  margin: 0;
  
  align-self: center;
}


.InputAndSelect {
  box-sizing:border-box;
  padding: 8px;
  width: 170px;
  border-radius: 5px;
  color: #999;
  border-color: #c2d8e0;
}
