.navbar {
    background-color: #fffcfa;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;

    box-shadow: 0px 0px 5px #6e6e6e;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 200;
}
#navbar-items {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}
.navbar ul {

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
#center-items {
    align-items: center;
    justify-content: center;
    align-self: center;
}
#right-items {
    align-items: right;
    justify-content: right;
    width: 211px;
}

.navbar li {
    list-style: none;
    font-weight: 600;
    font-size: 18px;
    

    margin-right: 15px;
    margin-left: 15px;
    color: #2d2e32;
    cursor: pointer;
}



.navbar.scrolled {
    background-color: #444;
}

a {
    font-style: inherit;
    text-decoration: inherit;
    color: #2d2e32;
}
a:hover {
    transition: 0.15s;
    color: #3a8cff;
}

@media only screen and (max-width: 500px) {
  #center-title {
    font-size: 14px;
    min-width: 80px;
  }
    
}
#center-title {
    justify-content: left;
}
