#pick-your-car-section {
    
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #80d1e5;
    padding-top: 40px;
    background-color: #80d1e5;
    height: 120vh;
    max-height: 800px;
}

#pick-car-container {
  border-radius: 30px;
  
  border: 1.5px solid #1f466b;
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
  h1 {
    text-align: left;
    padding: 20px;
    padding-bottom: 0px;
    padding-right: 215px;
  }
  align-content: center;
  justify-content: center;
  

  
  background-color: #fff7ee;
  border: 1.5px solid #1f466b;
  color: #2d2e32;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 0px #1f466b;
  
}


#carousel-container {
  width: 500px;
  box-sizing: border-box;
  
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background-color: #fff7ee;
}

#Choose-your-car-text {
  width: 400px;
}
